.tabla {
    background-color: #97e9bd; /* Cambiar el color a un tono de verde suave de tu elección */
    border-collapse: collapse;
    margin: 10px;
  }
  
  .encabezado {
    padding: 10px;
  }
  
  .celda {
    padding: 10px;
    border: 1px solid gray;
  }

  .tablas-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .tabla.hecho {
    background-color: orange;
  }